@model AdventureLog.Models.Adventure
@using AdventureLog.Controllers;
@using AdventureLog.Models;
@{
    ViewBag.Title = "Adventure Details";
}

<h2>@Model.Name</h2>

<div>
    <h6>Last edited by: @Model.LastModifiedUser on @Model.LastModifiedDate</h6>
    <hr />
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active"
               id="nav-Summary-tab"
               data-toggle="tab"
               href="#nav-summary"
               role="tab"
               aria-controls="nav-home"
               aria-selected="true">Details</a>
            <a class="nav-item nav-link"
               id="nav-worlds-tab"
               data-toggle="tab"
               href="#nav-worlds"
               role="tab"
               aria-controls="nav-home"
               aria-selected="true">Worlds</a>
            <a class="nav-item nav-link"
               id="nav-comments-tab"
               data-toggle="tab"
               href="#nav-comments"
               role="tab"
               aria-controls="nav-home"
               aria-selected="true">Comments</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active p-3" id="nav-summary" role="tabpanel" aria-labelledby="nav-home-tab">
            <!--Summary-->
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.SystemName):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SystemName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description):
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>

            </dl>
            @if (AdventureHomeController.IsGamemaster(User.Identity, Model.Adventure_PK))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Adventure_PK }, new { @class = "btn btn-primary" })
            }
        </div>
        <div class="tab-pane fade p-3" id="nav-worlds" role="tabpanel" aria-labelledby="nav-profile-tab">
            <!--World List-->
            <div class="row p-3">
                <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    @Html.ActionLink("Create New World", "WorldCreate", new { adventureId = Model.Adventure_PK }, new { @class = "btn btn-primary" })
                    @{
                        bool first = true;
                        foreach (var world in Model.Worlds)
                        {
                            if (first)
                            {
                                <a class="btn btn-outline-secondary active mb-1 mt-1"
                                   id="v-pills-tab-@world.World_PK"
                                   data-toggle="pill"
                                   href="#v-pills-item-@world.World_PK"
                                   role="tab"
                                   aria-controls="v-pills-item"
                                   aria-selected="true">@world.Name</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-secondary mb-1"
                                   id="v-pills-tab-@world.World_PK"
                                   data-toggle="pill"
                                   href="#v-pills-item-@world.World_PK"
                                   role="tab"
                                   aria-controls="v-pills-item"
                                   aria-selected="true">@world.Name</a>
                            }

                            first = false;
                        }
                    }
                </div>
                <div class="tab-content col-10" id="v-pills-tabContent">
                    @{
                        first = true;
                        foreach (var world in Model.Worlds)
                        {
                            if (first)
                            {
                                <div class="tab-pane fade show active"
                                     id="v-pills-item-@world.World_PK"
                                     role="tabpanel"
                                     aria-labelledby="v-pills-tab-@world.World_PK">
                                    <div class="card border-dark">
                                        <div class="card-header">
                                            <h2 class="float-left">@world.Name</h2>
                                            @Html.ActionLink("See More", "WorldDetails", new { id = world.World_PK }, new { @class = "btn btn-primary float-right" })
                                        </div>
                                        <div class="card-body text-dark">
                                            <div class="card-text text-dark">
                                                Summary: <br>
                                                @world.ShortDescription
                                            </div>
                                        </div>
                                        <div class="list-group-flush">
                                            @foreach (var area in world.Areas)
                                            {

                                                <a href="@Url.Action("AreaDetails", new { id = area.Area_PK })" class="list-group-item list-group-item-action">
                                                    <h6>@area.Name: </h6>
                                                    <small>
                                                        @area.ShortDescription
                                                    </small>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane fade show"
                                     id="v-pills-item-@world.World_PK"
                                     role="tabpanel"
                                     aria-labelledby="v-pills-tab-@world.World_PK">
                                    <div class="card border-dark">
                                        <div class="card-header">
                                            <h2 class="float-left">@world.Name</h2>
                                            @Html.ActionLink("See More", "WorldDetails", new { id = world.World_PK }, new { @class = "btn btn-primary float-right" })
                                        </div>
                                        <div class="card-body text-dark">
                                            <div class="card-text text-dark">
                                                Summary: <br>
                                                @world.ShortDescription
                                            </div>
                                        </div>
                                        <div class="list-group-flush">
                                            @foreach (var area in world.Areas)
                                            {

                                                <a href="@Url.Action("AreaDetails", new { id = area.Area_PK })" class="list-group-item list-group-item-action">
                                                    <h6>@area.Name: </h6>
                                                    <small>
                                                        @area.ShortDescription
                                                    </small>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            first = false;
                        }
                    }
                </div>
            </div>
        </div>
        <div class="tab-pane fade p-3" id="nav-comments" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!--Comments-->
            @{
                var parentComments = Model.AdventureNotes.Where(n => n.ParentAdventureNote == null).AsEnumerable();

                foreach (var parent in parentComments)
                {
                    <div class="card mb-2 border border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <strong>@parent.ApplicationUser.UserName</strong>
                                        <small class="float-right">@parent.LastModifiedDate</small>
                                    </p>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="p-2">
                                        @Html.Raw(parent.Text)
                                    </div>
                                    <button class="btn btn-outline-secondary mb-1"
                                            data-toggle="collapse"
                                            href="#reply-@parent.AdventureNote_PK"
                                            aria-expanded="true"
                                            aria-controls="reply-@parent.AdventureNote_PK"
                                            role="button">
                                        Replies <i class="fa" aria-hidden="true"></i>
                                    </button>
                                    @ShowChildTree(parent)
                                </div>
                            </div>


                            @helper ShowChildTree(AdventureNote parentNote)
                            {
                                <button class="btn btn-outline-primary ml-1 mt-2 mb-3"
                                        data-toggle="collapse"
                                        href="#newReplyHide-@parentNote.AdventureNote_PK"
                                        aria-expanded="true"
                                        aria-controls="newReplyHide-@parentNote.AdventureNote_PK"
                                        role="button">
                                    New Reply <i class="fa" aria-hidden="true"></i>
                                </button>
                                <!--Reply Section-->
                                <div class="collapse" id="newReplyHide-@parentNote.AdventureNote_PK">
                                    <div class="card card-inner mb-1 mt-1 border border-secondary">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>

                                                        @using (Html.BeginForm("CreateComment", "AdventureHome"))
                                                        {
                                                            <textarea rows="5"
                                                                      id="NewReply-@parentNote.AdventureNote_PK"
                                                                      name="newComment"></textarea>
                                                            <script>CKEDITOR.replace('NewReply-@parentNote.AdventureNote_PK')</script>
                                                            @Html.HiddenFor(model => model.Adventure_PK)
                                                            @Html.Hidden("parentComment", parentNote.AdventureNote_PK)

                                                            <input type="submit" value="Post Reply" class="btn btn-primary ml-2 mt-2 float-right" />
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Child Comments -->
                                <div class="collapse show" id="reply-@parentNote.AdventureNote_PK">
                                    @foreach (var child in parentNote.ChildNotes)
                                    {
                                        <div class="card card-inner mb-1 mt-1 border border-secondary">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>
                                                            <strong>@child.ApplicationUser.UserName</strong>
                                                            <small class="float-right">@child.LastModifiedDate</small>
                                                        </p>
                                                        <div class="clearfix"></div>
                                                        <hr />
                                                        <div class="p-2">
                                                            @Html.Raw(child.Text)
                                                        </div>
                                                        <button class="btn btn-outline-secondary mb-1"
                                                                data-toggle="collapse"
                                                                href="#reply-@child.AdventureNote_PK"
                                                                aria-expanded="true"
                                                                aria-controls="reply-@child.AdventureNote_PK"
                                                                role="button">
                                                            Replies <i class="fa" aria-hidden="true"></i>
                                                        </button>
                                                        @ShowChildTree(child)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }

                            @*
        <div class="collapse show" id="reply-@parent.AdventureNote_PK">
            <!--Reply Section-->
            <div class="card card-inner mb-1 mt-1 border border-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                @using (Html.BeginForm("CreateComment", "AdventureHome"))
                                {
                                    <div class="border border-light">
                                        <textarea rows="5"
                                                  id="NewReply-@parent.ParentAdventureNote_PK"
                                                  name="newComment"></textarea>
                                        <script>CKEDITOR.replace('NewReply-@parent.ParentAdventureNote_PK')</script>
                                    </div>
                                    @Html.HiddenFor(model => model.Adventure_PK);
                                    @Html.Hidden("parentComment", parent.AdventureNote_PK);

                                    <input type="submit" value="Post Reply" class="btn btn-outline-primary ml-2 mt-2 float-right" />
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Child Comments -->
            @foreach (var child in parent.ChildNotes)
            {
                <div class="card card-inner mb-1 mt-1 border border-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>@child.ApplicationUser.UserName</strong>
                                    <small class="float-right">@child.LastModifiedDate</small>
                                </p>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="p-2">
                                    @Html.Raw(child.Text)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>*@
                        </div>
                    </div>
                }
            }
            <div class="card border border-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                @using (Html.BeginForm("CreateComment", "AdventureHome"))
                                {
                                    <div>
                                        <textarea rows="5"
                                                  id="NewComment"
                                                  name="newComment"></textarea>
                                        <script>CKEDITOR.replace('NewComment')</script>
                                    </div>
                                    @Html.HiddenFor(model => model.Adventure_PK);

                                    <input type="submit" value="Post Comment" class="btn btn-primary ml-2 mt-2 float-right" />
                                }
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<p>
    @Html.RouteLink("Back to Adventure List", "adventurehome", null, new { @class = "btn btn-secondary" })
</p>