@model AdventureLog.Models.Item
@using AdventureLog.Controllers
@using AdventureLog.Models
@{
    ViewBag.Title = "Item Details";

    var ViewPermissionList = new List<PlayerRole.PlayerRoleKey>() { PlayerRole.PlayerRoleKey.Gamemaster, PlayerRole.PlayerRoleKey.Player };
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="font-weight-bold">@Model.Name</h2>
    </div>
    <div class="col-lg-6">
        <h4 class="text-secondary">Last edited by: @Model.LastModifiedUser on @Model.LastModifiedDate.ToShortDateString()</h4>
    </div>
</div>
<hr />
<nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active"
               id="nav-Summary-tab"
               data-toggle="tab"
               href="#nav-summary"
               role="tab"
               aria-controls="nav-home"
               aria-selected="true">Details</a>
            <a class="nav-item nav-link"
               id="nav-Items-tab"
               data-toggle="tab"
               href="#nav-areas"
               role="tab"
               aria-controls="nav-home"
               aria-selected="true">Sub-Items</a>
            @if (AdventureHomeController.IsInAnyRole(User.Identity, Model.Adventure_PK, ViewPermissionList))
            {
                <a class="nav-item nav-link"
                   id="nav-comments-tab"
                   data-toggle="tab"
                   href="#nav-comments"
                   role="tab"
                   aria-controls="nav-home"
                   aria-selected="true">Comments</a>
            }
        </div>
    </nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-3" id="nav-summary" role="tabpanel" aria-labelledby="nav-home-tab">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        @if (AdventureHomeController.IsInRole(User.Identity, Model.Adventure_PK, PlayerRole.PlayerRoleKey.Gamemaster))
        {
            <dt>
                @Html.DisplayNameFor(model => model.GamemasterNotes):
            </dt>

            <dd>
                @Html.Raw(Model.GamemasterNotes)
            </dd>

            @Html.ActionLink("Edit", "ItemEdit", new { id = Model.Item_PK }, new { @class = "btn btn-primary" })
        }

    </dl>
</div>
    <div class="tab-pane fade p-3" id="nav-areas" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row p-3">
            <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                @if (AdventureHomeController.IsInRole(User.Identity, Model.Adventure_PK, PlayerRole.PlayerRoleKey.Gamemaster))
                {
                    @Html.ActionLink("Create Sub-Item", "ItemCreate", new { adventureId = Model.Adventure_PK, parentId = Model.Item_PK }, new { @class = "btn btn-primary mb-1" })
                }
                @{
                    bool first = true;
                    foreach (var child in Model.ChildItems.Where(w => w.ParentItem_PK == Model.Item_PK).AsEnumerable())
                    {
                        <a class="btn btn-outline-secondary mb-1 @(first ? "active" : "")"
                           id="v-pills-tab-@child.Item_PK"
                           data-toggle="pill"
                           href="#v-pills-item-@child.Item_PK"
                           role="tab"
                           aria-controls="v-pills-item"
                           aria-selected="true">@child.Name</a>

                        first = false;
                    }
                }
            </div>
            <div class="tab-content col-10" id="v-pills-tabContent">
                @{
                    first = true;
                    foreach (var Item in Model.ChildItems.Where(w => w.ParentItem_PK == Model.Item_PK).AsEnumerable())
                    {
                        <div class="tab-pane fade show @(first ? "active" : "")"
                             id="v-pills-item-@Item.Item_PK"
                             role="tabpanel"
                             aria-labelledby="v-pills-tab-@Item.Item_PK">
                            <div class="card border-dark">
                                <div class="card-header">
                                    <h2 class="float-left text-dark">@Item.Name</h2>
                                    @Html.ActionLink("See More", "ItemDetails", new { id = Item.Item_PK }, new { @class = "btn btn-primary float-right" })
                                </div>
                                <div class="card-body text-dark">
                                    <div class="card-text text-dark mb-2">
                                        Summary: <br>
                                        @Item.ShortDescription
                                    </div>
                                </div>
                                <div class="list-group-flush">
                                    @foreach (var child in Item.ChildItems)
                                    {
                                        <a href="@Url.Action("ItemDetails",
                                                                new { id = child.Item_PK})"
                                           class="list-group-item list-group-item-action list-group-item-secondary">
                                            <h6>@child.Name: </h6>
                                            <small>
                                                @child.ShortDescription
                                            </small>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                        first = false;
                    }
                }
            </div>
        </div>
    </div>
    
    @if (AdventureHomeController.IsInAnyRole(User.Identity, Model.Adventure_PK, ViewPermissionList))
    {
    <div class="tab-pane fade p-3" id="nav-comments" role="tabpanel" aria-labelledby="nav-contact-tab">
        <!--Comments-->
        <button type="button" class="btn btn-primary mb-2" data-toggle="collapse" data-target="#newCommentCollapse">New Comment</button>
        <div class="collapse" id="newCommentCollapse">
            <div class="card mb-2 border border-primary">
                <div class="card-header">
                    <strong>New Comment</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-0">
                                @using (Html.BeginForm("CreateItemComment", "AdventureHome"))
                                {
                                    <textarea rows="5"
                                              id="NewComment"
                                              name="newComment"></textarea>
                                    <script>CKEDITOR.replace('NewComment', { customConfig: '/Scripts/ckeditor_config.js' })</script>
                                    @Html.HiddenFor(model => model.Item_PK);

                                    <input type="submit" value="Post Comment" class="btn btn-primary ml-2 mt-2 float-right" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            var parentComments = Model.ItemNotes.Where(n => n.ParentItemNote == null && n.IsActive).AsEnumerable();

            foreach (var parent in parentComments)
            {
                <div class="card mb-2 border border-primary">
                    <div class="card-header">
                        <button class="btn btn-outline-primary mr-1"
                                data-toggle="collapse"
                                data-target="#card-body-@parent.ItemNote_PK">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <strong>@parent.ApplicationUser.UserName</strong>
                        <small class="float-right">@parent.LastModifiedDate</small>
                    </div>
                    <div class="card-body collapse show" id="card-body-@parent.ItemNote_PK">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="accordion p-0" id="commentCard-@parent.ItemNote_PK">
                                    <div id="text-@parent.ItemNote_PK" class="collapse show" data-parent="#commentCard-@parent.ItemNote_PK">
                                        @Html.Raw(parent.Text)
                                    </div>
                                    @if (AdventureHomeController.IsItemNoteOwner(User.Identity, parent.ItemNote_PK))
                                    {
                                        <div id="text-@parent.ItemNote_PK" class="collapse" data-parent="#commentCard-@parent.ItemNote_PK">

                                            @using (Html.BeginForm("EditItemComment", "AdventureHome"))
                                            {
                                                @Html.TextArea("commentText", parent.Text, new { @id = "comment-text-" + parent.ItemNote_PK })
                                                @Html.Hidden("ItemNote_PK", parent.ItemNote_PK)
                                                <input type="submit" value="Submit" class="btn btn-primary m-2" />
                                                <script>CKEDITOR.replace('comment-text-@parent.ItemNote_PK', { customConfig: '/Scripts/ckeditor_config.js' })</script>
                                            }
                                        </div>
                                    }
                                </div>
                                <hr />
                                @if (AdventureHomeController.IsItemNoteOwner(User.Identity, parent.ItemNote_PK))
                                {
                                    <button class="btn btn-outline-warning mb-2"
                                            data-toggle="collapse"
                                            data-target="#text-@parent.ItemNote_PK">
                                        Edit
                                    </button>
                                }
                                @ShowChildTree(parent)
                            </div>
                        </div>


                        @helper ShowChildTree(ItemNote parentNote)
                        {
                            <!--Reply Section-->
                            <button type="button" class="btn btn-outline-primary mb-2" data-toggle="collapse" data-target="#newReplyCollapse-@parentNote.ItemNote_PK">Reply</button>
                            <div class="collapse" id="newReplyCollapse-@parentNote.ItemNote_PK">
                                <div class="card card-inner mb-1 mt-1 border border-secondary">
                                    <div class="card-header">
                                        <strong>New Reply</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="p-0">
                                                    @using (Html.BeginForm("CreateItemComment", "AdventureHome"))
                                                    {
                                                        <textarea rows="5"
                                                                  id="NewReply-@parentNote.ItemNote_PK"
                                                                  name="newComment"></textarea>
                                                        <script>CKEDITOR.replace('NewReply-@parentNote.ItemNote_PK', { customConfig: '/Scripts/ckeditor_config.js' })</script>
                                                        @Html.HiddenFor(model => model.Item_PK)
                                                        @Html.Hidden("parentComment", parentNote.ItemNote_PK)

                                                        <input type="submit" value="Post Reply" class="btn btn-primary ml-2 mt-2 float-right" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Delete Comment -->
                            if (AdventureHomeController.IsInRole(User.Identity, Model.Adventure_PK, PlayerRole.PlayerRoleKey.Gamemaster))
                            {
                                <div class="float-right">
                                    <button class="btn btn-danger mb-2"
                                            data-toggle="collapse"
                                            href="#deleteCollapse-@parentNote.ItemNote_PK"
                                            aria-expanded="true"
                                            aria-controls="deleteCollapse-@parentNote.ItemNote_PK"
                                            role="button">
                                        Delete
                                    </button>
                                    <div class="collapse mr-4 mb-2 float-left" id="deleteCollapse-@parentNote.ItemNote_PK">
                                        @using (Html.BeginForm("DeleteItemComment", "AdventureHome"))
                                        {
                                            <input hidden name="ItemNote_PK" value="@parentNote.ItemNote_PK" />
                                            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger" />
                                        }
                                    </div>
                                </div>
                            }

                            <!-- Child Comments -->
                            <div class="collapse show" id="reply-@parentNote.ItemNote_PK">
                                @foreach (var child in parentNote.ChildNotes.Where(child => child.IsActive))
                                {
                                    <div class="card card-inner mb-1 mt-1 border border-secondary">
                                        <div class="card-header">
                                            <button class="btn btn-outline-secondary mr-1"
                                                    data-toggle="collapse"
                                                    data-target="#card-body-@child.ItemNote_PK">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </button>
                                            <strong>@child.ApplicationUser.UserName</strong>
                                            <small class="float-right">@child.LastModifiedDate</small>
                                        </div>
                                        <div class="card-body collapse show" id="card-body-@child.ItemNote_PK">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="accordion p-0" id="commentCard-@child.ItemNote_PK">
                                                        <div id="text-@child.ItemNote_PK" class="collapse show" data-parent="#commentCard-@child.ItemNote_PK">
                                                            @Html.Raw(child.Text)
                                                        </div>
                                                        @if (AdventureHomeController.IsItemNoteOwner(User.Identity, child.ItemNote_PK))
                                                        {
                                                            <div id="text-@child.ItemNote_PK" class="collapse" data-parent="#commentCard-@child.ItemNote_PK">

                                                                @using (Html.BeginForm("EditItemComment", "AdventureHome"))
                                                                {
                                                                    @Html.TextArea("commentText", child.Text, new { @id = "comment-text-" + child.ItemNote_PK })
                                                                    @Html.Hidden("ItemNote_PK", child.ItemNote_PK)
                                                                    <input type="submit" value="Submit" class="btn btn-primary m-2" />
                                                                    <script>CKEDITOR.replace('comment-text-@child.ItemNote_PK', { customConfig: '/Scripts/ckeditor_config.js' })</script>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                    <hr />
                                                    @if (AdventureHomeController.IsItemNoteOwner(User.Identity, child.ItemNote_PK))
                                                    {
                                                        <button class="btn btn-outline-warning mb-2"
                                                                data-toggle="collapse"
                                                                data-target="#text-@child.ItemNote_PK">
                                                            Edit
                                                        </button>
                                                    }
                                                    @ShowChildTree(child)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
    }
</div>
<hr />
<p>
    @Html.ActionLink("Back to Adventure", "Details", new { id = Model.Adventure_PK }, new { @class = "btn btn-secondary" })
</p>
